                                       
                                                        
                                                           
                                                           * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
span{
  font-family: arial;
  font-size: 20px;
}
.icon-users,.icon-user-minus,.icon-coin-dollar,.icon-briefcase,.icon-profile,.icon-trophy,.icon-address-book{
  font-size: 1.3em;
}
.icon-coin-dollar,.icon-users,.mas{
  color:green;
}

.icon-briefcase,.icon-user-minus,.menos{
  color: red;
}
.col-navdos:hover{
  color:white;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 1.2em;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.header {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 1.5em;
  display:flex;
  justify-content:center;
  align-items:center; 

}
.header h1{
  font-size:2em;
}
.col-3{
  width:100%;
  margin-top:0;

}
.li-item{
  width:100%;
  padding:.8em;

  margin-bottom:.1em;
  
  

}
.li-uno{
  width:50%; float:left;
}
.fondo{
  background-color:#e74c3c;
}                                          
ul,ol{
  list-style:none;
}
li{
  background-color:#EEEEEE;

}
.navegacion li a{
  color:black;
  text-decoration:none;
  padding:10px 30px;
  display:block;
  margin-bottom:.1em;

}
.icon{
  float:right;
}
.aside {
  background-color: #C23939;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #C23939;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  padding: .7em;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
input[type="submit"]{
  border: none;
  background-color: none;
}

input[type="submit"]:hover{
  color: white;
  background-color: #C23939;
}
input[type="image"]{
  width:150px;
  height:120px; 
  background-color:red; 
  cursor: none;
  margin-top:.8em;
}

#nav{
    position: absolute;
    top:7.5em;
    left: 30em;
	width:60%;
	background;
	display: block;
	margin: auto;
	height: 400px;
	border:solid #f2f2f2;
    box-shadow:
    -6px -6px #839192,
    -7px -7px #839192,
    -8px -8px #839192;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    margin-bottom: 3%;
    
}



#nav #Iniciar{
	margin-top: 2%;
	display: block;
	text-align: center;
	color:#e74c3c  ;
	margin-bottom: 0%;
	font-size: 130%;
	font-family: arial;
	margin-right: 40%;
}
#nav #Registrarse{
	margin-right: 35%;
	padding-top: 0%;
	display: block;
	text-align: center;
	color:black;
	margin-bottom: 5%;
	font-size: 75%;
	
}

#nav #priemr{
	float: left;
	width: 50%;
	background-color:none;
}
#nav #segun{
	display: block;
	float: left;	
	width: 50%;
	background-color: none;
}
#nav  #nombre,#edad,#nav #telefono,#ocupacion,#pago,#contraseña,#nav #sexo{
    margin-left: 4%;
	font-family: arial;
	font-size: 80%;
	margin-bottom: 4%;

}

#nav #sexo{
	margin-left: 5%;
	font-family: arial;
	font-size: 100%;
	margin-bottom: 4%;

}
#nav  #nombre input[type="text"],#telefono input[type="text"],#ocupacion input[type="text"],#pago input[type="text"],#contraseña input[type="text"]{
	width: 80%;
	font-size: 140%;
	border: none;
    box-shadow:
     1px 1px #B8C3CA,
    2px 2px #B8C3CA,
    3px 3px #B8C3CA;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}
#nav  #nombre input[type="text"]:hover,#telefono input[type="text"]:hover,#ocupacion input[type="text"]:hover,#pago input[type="text"]:hover,#contraseña input[type="text"]:hover{
	width: 80%;
	border: none;
    box-shadow:
    1px 1px #0A507F,
    2px 2px #0A507F,
    3px 3px #0A507F;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
 }
  #edad input[type="number"]{
    width: 15%;
    padding: 2% 2%;
    border: none;
    box-shadow:
     1px 1px #B8C3CA,
    2px 2px #B8C3CA,
    3px 3px #B8C3CA;
  
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    }input[type="file" i] {
    position: absolute;
    top: -35px;
	right: -30px;
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    padding: initial;
    border: initial;
}
    #edad input[type="number"]:hover{
    
    box-shadow:
    1px 1px #0A507F,
    2px 2px #0A507F,
    3px 3px #0A507F;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
 }

#nav #foto{
	display: block;
	margin: auto;
}
#nav #foto input[type="text"]{
	display: block;
	margin: auto;
	width: 30%;
	height: 100px;
	margin-top: -50px;
	margin-bottom: 7%;
}


#nav  input[type="submit"]{
    position: relative;
 
    top: 30px;
	display: block;
	margin: auto;
	width: 25%;
	height: 35px;
	background-color: #17A0FB  ;
	list-style: none;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 150%;
	font-family: arial;
	cursor: pointer;

}

#nav input[type="submit"]:hover{



box-shadow:
1px 1px #0A507F,
2px 2px #0A507F,
3px 3px #0A507F;
-webkit-transform: translateX(-4px);
transform: translateX(-4px);
}



#segun #cv{
    text-align: center;
    color: white;
    cursor: pointer;
}

 #segun #foto{
    position: relative;
    left: 15%;
    margin: 5%;
    padding: 5%;
    width: 40%;
    background-color: #2499e3;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-box-shadow:0px 3px 0px #1a71a9; 
    cursor: pointer;
    margin-bottom: 15%;

 } 

#segun #bot{
    position: absolute;
    top: 0px;
    left: 0px;.
    right: 0px;
    bottom: 0px;
    height: 100px;
    opacity: .7;
    cursor: pointer;
 }
